.payment-container {
  background: #ffffff
}

.checkout-button{
  /* background-color: rgb(107, 183, 11); */
  background-color: #4169E1;
}

.checkout-button:hover{
  transform: scale(1.05);
  transition: all 0.3s ease 0s;
  background-color: #4169E1;
}
